<section class="amatuerSection" id="amateur">
    <header>
        <h1 hidden> Amatuer Radio</h1>
    </header>
    <article class="amatuer col-m-100 col-p-60">
        <header>
            <h2> RÁDIÓ AMATŐRÖK FIGYELEM!</h2>
        </header>
        <figure>
            <img style="width: 55%;" src="~/images/radioamator_waveform.png">
            <img style="width: 38%; position: relative; left: 5%;" src="~/images/frequency_band.png">
        </figure>
        <p class="ib">
            bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb
            bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb
            bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb bbbbbbbb
        </p>
        <div class="button ib">
            <a class="popup" href="@Url.Action("RadioDetails", "Home")">TOVÁBBI RÁDIÓZÁSI ADATOK</a>
        </div>
    </article>
</section>