<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">SMOG-1 CSAPAT ELÉRHETŐSÉGEI</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>EMAIL CÍM: bmegnd@gnd.bme.hu</h3>
    </header>
    <p>

    </p>
    <div class="col-m-33 col-p-33 ib">
        <h3> FACEBOOK</h3>
        <a href="https://www.facebook.com/smog1official/"><img src="~/images/icon_facebook.png"></a>
    </div><div class="col-m-33 col-p-33 ib">
        <h3> TWITTER</h3>
        <a href="http://www.twitter.com"><img src="~/images/icon_twitter.png"></a>
    </div><div class="col-m-33 col-p-33 ib">
        <h3> GOOGLE PLUS</h3>
        <a href="http://www.plus.google.com"><img src="~/images/icon_googleplus.png"></a>
    </div>
    <h3>
        CÍM: 1111 BUDAPEST EGRY JÓZSEF UTCA 18. V1 ÉPÜLET 504. <br> TELEFON: +36/1-463-2773
    </h3>
</section>
