 <section class="thinSection" id="contact">
    <header>
        <h1 hidden>
            Social Secton
        </h1>
    </header>
    <article class="thin col-m-60 col-p-25">
        <header>
            <h2>
                KAPCSOLAT
            </h2>
        </header>
        <div class="button">
            <a class="popup" href="@Url.Action("ContactTeam", "Home")">SMOG-1 CSAPAT</a>
        </div>
        <div class="button">
            <a href="http://www.gnd.bme.hu/">BME GND</a>
        </div>
        <div class="button">
            <a href="index.html">FÖLDI ÁLLOMÁS</a>
        </div>
        <figure>
            <img src="~/images/dots_muszaki_infok.png">
        </figure>
    </article>
</section>