<section class="row thinSection" id="contact">
    <article class="col-xs-push-1 col-xs-10 col-sm-push-3 col-sm-6 col-md-push-4 col-md-4">
        <div class="zsebi-panel-wrapper">
            <article class="panel panel-zsebi">
                <header class="clearfix panel-heading">
                    <h2>
                        KAPCSOLAT
                    </h2>
                </header>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 button">
                                <a class="popup" href="@Url.Action("ContactTeam", "Home")">SMOG-1 CSAPAT</a>
                            </div>
                            <div class="col-xs-12 button">
                                <a href="http://www.gnd.bme.hu/">BME GND</a>
                            </div>
                            <div class="col-xs-12 button">
                                <a href="index.html">FÖLDI ÁLLOMÁS</a>
                            </div>
                        </div>
                        <div class="row">
                            <figure class="col-xs-push-1 col-xs-10">
                                <img src="~/images/dots_muszaki_infok.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </article>
</section>