<div class="row">
    <section class="col-sm-push-2 col-sm-8 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4 menuSection" id="menu">
        <figure>
            <img src="~/images/smog_logo_menu.png">
        </figure>
        <nav class="menu">
            <ol class="half">
                <li><a href="#satelite">műhold</a></li>
                <li><a href="#team">csapat</a></li>
                <li><a href="#sponsors">támogatók</a></li>
            </ol>
            <ol class="half">
                <li><a href="#news">hírek</a></li>
                <li><a href="#amateur">rádiózás</a></li>
                <li><a href="#contact">kapcsolat</a></li>
            </ol>
            <div class="full">
                <a href="index.html">KÖZÖSSÉG</a>
                <a class="ib social-btn facebook" style="" href="http://www.facebook.com">
                    <img src="~/images/icon_facebook.png" alt="Facebook">
                </a>
                <a class="ib social-btn twitter" style="" href="http://www.twitter.com">
                    <img src="~/images/icon_twitter.png" alt="Twitter">
                </a>
            </div>
            <figure>
                <img class="menu-image" src="~/images/dots_menu.png">
                <figcaption class="quote-caption">
                    <p>
                        <q>
                            Discipline is paramount to all activity.
                            <br> With purpose We must enforce it.
                        </q>
                    </p>-David O'Reilly
                </figcaption>
            </figure>
        </nav>
    </section>
</div>