<div class="row">
    <section class="col-sm-push-2 col-sm-8 col-md-push-3 col-md-6 col-lg-push-4 col-lg-4 menuSection" id="menu">
        <figure>
            <img src="~/images/smog_logo_menu.png">
        </figure>
        <nav class="menu">
            <ol class="half">
                <li><a href="#satelite">műhold</a></li>
                <li><a href="#team">csapat</a></li>
                <li><a href="#sponsors">támogatók</a></li>
                <li><a asp-controller="Publications" asp-action="Index">Publikációk</a></li>
            </ol>
            <ol class="half">
                <li><a href="#news">hírek</a></li>
                <li><a href="#amateur">rádiózás</a></li>
                <li><a href="#contact">kapcsolat</a></li>
                <li class="row">
                    <a class="col-xs-6" style="" href="https://www.facebook.com/smog1official/">
                        <img src="~/images/icon_facebook.png" alt="Facebook">
                    </a>
                    <a class="col-xs-6" style="" href="https://twitter.com/Smog1_pq">
                        <img src="~/images/icon_twitter.png" alt="Twitter">
                    </a>
                </li>
            </ol>
            <figure>
                <img class="menu-image" src="~/images/dots_menu.png">
                <figcaption class="quote-caption">
                    <p>
                        <q>
                        </q>
                    </p>
                </figcaption>
            </figure>
        </nav>
    </section>
</div>
