<section class="menuSection" id="menu" >
    <header>
        <h1 hidden>
            Menu Section
        </h1>
    </header>
    <figure>
    <img src="~/images/smog_logo_menu.png">
    </figure>
    <nav class="menu">
        <header>
            <h2 hidden>
            Navigational Menu
            </h2>
        </header>
        <ol class="ib col-m-25 col-scr-em10">
            <li><a href="#satelite">műhold</a></li>
            <li><a href="#team">csapat</a></li>
            <li><a href="#sponsors">támogatók</a></li>
        </ol><ol class="ib col-m-25 col-scr-em10">
        <li><a href="#news">hírek</a></li>
        <li><a href="#amateur">rádiózás</a></li>
        <li><a href="#contact">kapcsolat</a></li>
        </ol>
        <br>
        <div class="button col-m-50 col-scr-em20" style="display: inline-block; margin: auto;">
            <a href="index.html">KÖZÖSSÉG</a>
            <a class="ib" style="position: absolute; left: 70%; top: 8px;" href="http://www.facebook.com"><img src="~/images/icon_facebook.png"></a>
            <a class="ib" style="position: absolute; left: 84%; top: 7px;" href="http://www.twitter.com"><img src="~/images/icon_twitter.png"></a>
        </div>
        <figure>
        <img class="col-m-50 col-scr-em20" src="~/images/dots_menu.png">
            <figcaption>
                <p><q>Discipline is paramount to all activity.
                    <br> With purpose We must enforce it.</q></p>-David O'Reilly
            </figcaption>
        </figure>
    </nav>
</section>