<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">RÁDIÓZÁSI ADATOK</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>SMOG-1 földi állomás szoftver (SMOGGND)</h3>
    </header>
    <div class="socialsLine">
        <a href="https://www.facebook.com/smog1official/"><img src="~/images/icon_facebook.png"></a>
        <a href="https://twitter.com/Smog1_pq"><img src="~/images/icon_twitter.png"></a>
        2018.03.18.
    </div>
    <p>
        A földi állomás szoftver fejlesztésének célja, hogy legyen egy olyan program, amivel bárki becsatlakozhat a műhold követésébe, ezzel segítve az adatgyűjtést. További cél, hogy a program fusson több platformon is (pl. Windows és Linux), hogy minél több embert be tudjunk vonni.
    </p>
    <p>
        A program sokféle eszközt tud kezelni, legyen szó hagyományos rádiókról, szoftverrádióról, vagy éppen antenna forgatóról. A pályaadatok alapján úgy vezérli a szoftver ezeket a hardvereket, hogy a megfelelő frekvenciára legyenek beállítva (természetesen Doppler-korrekcióval együtt) vagy forgató esetén jó irányba nézzen az antenna.
    </p>
    <p>
		Ha sikerül a műhold adását venni, akkor azt demodulálja és dekódolja is a program, továbbá megjeleníti a felületén a csomagokból kinyerhető információt. Így igazán könnyűvé válik a műholdkövetés és a telemetria adatok leolvasása. Természetesen nem csak telemetria adatokat gyűjtünk, hanem mérési eredményeket is, hogy a műhold küldetését sikeresen teljesíteni tudja.
    </p>
    <img src="~/images/amateurs/SMOG1_gnd_client.png">
    <p>
		A vett csomagokat a program beküldi a szerverünkre, amit így mi utólag fel tudunk dolgozni. A beküldőkről vezetünk majd egy toplistát, ahol a legszorgosabb műhold követők biztosan megtalálhatják majd magukat.
    </p>
    <p>
		A program aktív fejlesztés alatt áll, a műhold szoftverének fejlődésével együtt a földi állomás szoftver is egyre közelebb kerül a végleges változathoz.
    </p>
</section>
