<section class="thinSection satSection" id="satelite">
    <header>
        <h1 hidden>
            Technical Secton Selection Menu
        </h1>
    </header>
    <div class="satDiv ib col-p-40">
        <img src="/images/placeholder_satellite.png" alt="Szatellit" />
        <!-- satellite image container in thin technical section (weird sensation about section not being centered, despite being centered)-->
    </div>
    <article class="thin satArticle ib col-m-60 col-p-20" style="position: absolute; right: 20%;">
        <header>
            <h2>
                Műszaki információk
            </h2>
        </header>
        <div class="button">
            <a href="@Url.Action("TechnicalInfo")">műhold</a>
        </div>
        <div class="button">
            <a href="index.html">tesztelés</a>
        </div>
        <div class="button">
            <a href="index.html">földi állomás</a>
        </div>
        <figure>
            <img src="~/images/dots_muszaki_infok.png">
        </figure>
    </article>
</section>