
@{
    ViewData["Title"] = "Műhold Gépészet";
}

<article class="popup col-m-100 col-p-60">
    <header>
        <h2 style="position: relative; left: 7%; width: 90%;">
            GÉPÉSZETI TECHNOLÓGIA
            <div class="previous ib">
                <a class="headerLink closeButton" href="index.html">BEZÁR</a>
            </div>
        </h2>
    </header>
    <div class="bigNews">
        <figure>
            <img src="~/images/article_image_container_expanded.png">
        </figure>
        <header>
            <h3>BBBBBBB BBBBBBBBB BBBBBB BBBBBB</h3>
        </header>
        <p>
            bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb bbbbbbb
        </p>

    </div>
</article>
