
@{
    ViewData["Title"] = "Műhold EPS2";
}
<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">KÖZPONTI ENERGIAELLÁTÓ RENDSZER</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>Központi energiaellátó rendszer (EPS-2)</h3>
    </header>
        <p>
            A központi energiaellátó rendszer elsődleges feladata, hogy az elektromos energia előállításáról, tárolásáról, szétosztásáról, szabályozásáról és monitorozásáról gondoskodjon. 
        </p>
        <img src="~/images/satellite/EPS2/EPS3D1.png">
        <p>
			Az oldallapokról beérkező energia a szabályozatlan energiabuszra kerül, amelyre csatlakozik az első számú energiatároló egység, az akkumulátor. Ez az alrendszer tartalmazza azokat az áramköröket is, amelyek stabilizálják a fogyasztó eszközök számára szükséges tápellátás feszültségét a működés szempontjából biztonságos tartományba. Ezt a feladatot két redundánsan felépített SDC (Step Down Converter) tápegység látja el.
		</p>
        <p>
			Az alrendszer további feladata, hogy biztosítsa az energiabuszok sértetlenségét bármelyik arra tápláló, vagy arról fogyasztó eszköz meghibásodása esetén. Ilyen feladat például az akkumulátor esetleges zárlata esetén a meghibásodott akkumulátor érzékelése és eltávolítása az energiabuszról, vagy az elsődleges tápegység meghibásodása esetén a hiba érzékelése, és a tartalék tápegységre való átállás zökkenőmentes megvalósítása. 
		</p>
		<img src="~/images/satellite/EPS2/EPS3D2.png">
		<p>
			A felsorolt feladatokon kívül az EPS vezérlő alrendszere, a PCU (Power Control Unit) monitorozza az energiarendszerre vonatkozó telemetria adatokat is, mint például az akkumulátor töltöttsége, az SDC áramkörök aktuális hatásfoka, vagy az energiabuszok leterheltsége. A központi energiaellátó rendszer tartalmazza továbbá a start áramköröket is, amelyek a pályára állítás érzékelésekor elindítják az egész műhold működését.
		</p>
		<p>
			A mért adatokat a PCU egységek dolgozzák fel, majd küldik tovább a fedélzeti számítógép avagy On-Board Computer (OBC) számára.
		</p>
		<img src="~/images/satellite/EPS2/SMOG-1BatteryProtection.png">

</section>
