<section class="sponsorSection" id="sponsors">
    <header>
        <h1 hidden>Sponsors section</h1>
    </header>
    <article class="sponsor col-m-100 col-p-60">
        <header>
            <h2>TÁMOGATÓINK <img style="width: 75%; position: relative; left: 5%;" src="~/images/dots_tamogatoink.png"></h2>

        </header>

        <figure>
            <a class="linkbluebig" href="http://www.energia.mta.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/MTA_EK_little.jpg" width="197" height="100" alt="MTA EK" title="MTA EK"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.energia.mta.hu/" onclick="window.open(this.href); return false">MTA EK</a></h2>
            <p class="sponsortext">A dózisméréssel kapcsolatos szakmai támogatást és a dózismérők sugárzásos tesztjében segítenek.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="https://www.agi.com" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Analytical_Graphics,_Inc._(AGI)_little.jpg" width="179" height="100" alt="Analytical Graphics, Inc. (AGI)" title="Analytical Graphics, Inc. (AGI)"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="https://www.agi.com" onclick="window.open(this.href); return false">Analytical Graphics, Inc. (AGI)</a></h2>
            <p class="sponsortext">A műholdunk pályájának és viselkedésének elemzéséhez szükséges STK (Systems Tool Kit) nevű szoftverrel támogatnak minket.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.rufem.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Rufem_Kft._little.jpg" width="226" height="91" alt="Rufém Kft." title="Rufém Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.rufem.hu/" onclick="window.open(this.href); return false">Rufém Kft.</a></h2>
            <p class="sponsortext">Antenna huzallal támogatták a SMOG-1 fejlesztését.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.comtech.co.hu/hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Comtech_Kft._little.jpg" width="226" height="46" alt="Comtech Kft." title="Comtech Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.comtech.co.hu/hu/" onclick="window.open(this.href); return false">Comtech Kft.</a></h2>
            <p class="sponsortext">437MHz-es teljesítmény erősítők  beállításával segítettek.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.zongoraszalon.hu" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Liszt_Ferenc_Zongoraszalon_Kft._little.jpg" width="226" height="76" alt="Liszt Ferenc Zongoraszalon Kft." title="Liszt Ferenc Zongoraszalon Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.zongoraszalon.hu" onclick="window.open(this.href); return false">Liszt Ferenc Zongoraszalon Kft.</a></h2>
            <p class="sponsortext">
                Rugalmas acélhuzalt (zongorahúrt)  biztosított  műhold antennához.
            </p>
        </figure>

        <figure>
            <a class="linkbluebig" href="https://www.tyndall.ie/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Tyndall_little.jpg" width="226" height="78" alt="Tyndall" title="Tyndall"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="https://www.tyndall.ie/" onclick="window.open(this.href); return false">Tyndall</a></h2>
            <p class="sponsortext">A fedélzeti doziméterhez szükséges RadFET-eket biztosítják számunkra.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.h-ion.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/H-ION_Kft._little.jpg" width="226" height="66" alt="H-ION Kft." title="H-ION Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.h-ion.hu/" onclick="window.open(this.href); return false">H-ION Kft.</a></h2>
            <p class="sponsortext">A fedélzeti akkumulátor hőszigetelésében nyújtanak segítséget.</p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/" alt="Mobitel Bt." title="Mobitel Bt.">
            <h2 class="sponsorname">Mobitel Bt.</h2>
            <p class="sponsortext">Rázókészülék legyártásával járult hozzá sikerünkhöz.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="https://shop.chipcad.hu" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/ChipCAD_Elektronikai_Disztribucio_Kft._little.jpg" width="226" height="76" alt="ChipCAD Elektronikai Disztribúció Kft." title="ChipCAD Elektronikai Disztribúció Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="https://shop.chipcad.hu" onclick="window.open(this.href); return false">ChipCAD Elektronikai Disztribúció Kft.</a></h2>
            <p class="sponsortext">Különböző a fejlesztéshez szükséges alkatrésszekkel támogat minket.</p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/MikI_Kft._McDonalds_Franchise_Partner_little.jpg" width="131" height="100" alt="Miki Kft. McDonalds Franchise Partner" title="Miki Kft. McDonalds Franchise Partner">
            <h2 class="sponsorname">Miki Kft. McDonalds Franchise Partner</h2>
            <p class="sponsortext">A SMOG-1 pályára juttatásához szükséges eszköz ( MR-FOD )  beszerzésének támogatása.</p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/Rotary_little.jpg" width="226" height="86" alt="Rotary" title="Rotary">
            <h2 class="sponsorname">Rotary</h2>
            <p class="sponsortext">Különböző, a SMOG-1 fejlesztéshez szükséges eszközökkel támogatott.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://radarlab.mht.bme.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Mikrohullamu_Taverzekeles_Labor_little.jpg" width="226" height="18" alt="Mikrohullámú Távérzékelés Labor" title="Mikrohullámú Távérzékelés Labor"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://radarlab.mht.bme.hu/" onclick="window.open(this.href); return false">Mikrohullámú Távérzékelés Labor</a></h2>
            <p class="sponsortext">
                A BME HVT-n belül a Mikrohullámú Távérzékelés Laborban és a
                Műegyetemi Rádióklubban folyik a SMOG-1 fedélzeti elektronikájának
                kutatása és fejlesztése.
            </p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.silabs.com" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Silicon_Labs_Kft_little.jpg" width="200" height="100" alt="Silicon Labs Kft." title="Silicon Labs Kft."></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.silabs.com" onclick="window.open(this.href); return false">Silicon Labs Kft.</a></h2>
            <p class="sponsortext">A Silicon Labs Kft. a rádiókommunikációs (műhold és földi állomás oldal) és a spektrummonitorozó rendszer alapját képező integrált áramkörökkel, TCXO-kal és passzív alkatrészekkel támogatja a SMOG-1 projektet.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="https://www.kathrein.com" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Kathrein_little.jpg" width="226" height="23" alt="Kathrein" title="Kathrein"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="https://www.kathrein.com" onclick="window.open(this.href); return false">Kathrein</a></h2>
            <p class="sponsortext">
                A Kathrein a földi állomás továbbfejlesztéséhez szükséges szerelt
                koaxiális kábelekkel és nagyfrekvenciás csatlakozókkal segíti munkánkat.
            </p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://varinex.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Varinex_Informatikai_Zrt_little.jpg" width="226" height="84" alt="Varinex Informatikai Zrt" title="Varinex Informatikai Zrt"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://varinex.hu/" onclick="window.open(this.href); return false">Varinex Informatikai Zrt</a></h2>
            <p class="sponsortext">3D nyomtatási technológiával készített alkatrészekkel támogatták a prototípus fejlesztését.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.microchip.com" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Microchip_Technology_little.jpg" width="192" height="100" alt="Microchip Technology" title="Microchip Technology"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.microchip.com" onclick="window.open(this.href); return false">Microchip Technology</a></h2>
            <p class="sponsortext">A műhold fedélzeti rendszereihez szükséges mikrokontrollerekkel és fejlesztő eszközökkel támogat minket.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://rsoe.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/RSOE_little.jpg" width="97" height="100" alt="RSOE" title="RSOE"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://rsoe.hu/" onclick="window.open(this.href); return false">RSOE</a></h2>
            <p class="sponsortext">Több mikrohullámú eszközzel segítették a SMOG-1 fejlesztési munkáit.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.manuf.bme.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Gyartastudomany_es_-technologia_Tanszek_little.jpg" width="226" height="100" alt="Gyártástudomány és -technológia Tanszék" title="Gyártástudomány és -technológia Tanszék"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.manuf.bme.hu/" onclick="window.open(this.href); return false">Gyártástudomány és -technológia Tanszék</a></h2>
            <p class="sponsortext">SMOG-1 prototípus szerkezetének legyártásával járulnak hozzá projektünk sikeréhez.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.energia.bme.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/BME_Energetikai_Gepek_es_Rendszerek_Tanszek_little.jpg" width="207" height="100" alt="BME Energetikai Gépek és Rendszerek Tanszék" title="BME Energetikai Gépek és Rendszerek Tanszék"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.energia.bme.hu/" onclick="window.open(this.href); return false">BME Energetikai Gépek és Rendszerek Tanszék</a></h2>
            <p class="sponsortext">A műhold napelemeinek rögzítéséhez szükséges ragasztót adják. Illetve a projekt tagjai közül többen ehhez a tanszékhez kötődnek.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.ett.bme.hu" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Elektronikai_Technologia_Tanszek_little.jpg" width="226" height="59" alt="Elektronikai Technológia Tanszék" title="Elektronikai Technológia Tanszék"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.ett.bme.hu" onclick="window.open(this.href); return false">BME Elektronikai Technológia Tanszék</a></h2>
            <p class="sponsortext">A SMOG-1 műhold nyomtatott áramköri lapjainak legyártását végzi.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="https://hvt.bme.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Szelessavu_Hirkozles_es_Villamossagtan_Tanszek_little.jpg" width="226" height="98" alt="Szélessávú Hírközlés és Villamosságtan Tanszék" title="Szélessávú Hírközlés és Villamosságtan Tanszék"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="https://hvt.bme.hu/" onclick="window.open(this.href); return false">BME Szélessávú Hírközlés és Villamosságtan Tanszék</a></h2>
            <p class="sponsortext">A projekt anya tanszéke, laboratóriumi helyet és műszerek használatát biztosítja.</p>
        </figure>

        <figure>
            <a class="linkbluebig" href="http://www.ha5mrc.hu/" onclick="window.open(this.href); return false"><img class="sponsorlogo" src="~/images/sponsor/Muegyetemi_Radio_Club_(HA5MRC)_little.jpg" width="226" height="100" alt="Műegyetemi Rádió Club (HA5MRC)" title="Műegyetemi Rádió Club (HA5MRC)"></a>
            <h2 class="sponsorname"><a class="linkbluebig" href="http://www.ha5mrc.hu/" onclick="window.open(this.href); return false">Műegyetemi Rádió Club (HA5MRC)</a></h2>
            <p class="sponsortext">
                A BME HVT-n belül a Mikrohullámú Távérzékelés Laborban és a
                Műegyetemi Rádióklubban folyik a SMOG-1 fedélzeti elektronikájának
                kutatása és fejlesztése. Továbbá a projekt rádióamatőr hátterét adja.
            </p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/NMHH_little.jpg" width="161" height="100" alt="NMHH" title="NMHH">
            <h2 class="sponsorname">NMHH</h2>
            <p class="sponsortext">A ballonos kísérletekhez nyújt anyagi támogatást. Továbbá hozzáférést biztosít a mérőeszközeihez rádiófrekvenciás mérésekhez.</p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/OMSZ_little.jpg" width="226" height="90" alt="OMSZ" title="OMSZ">
            <h2 class="sponsorname">OMSZ</h2>
            <p class="sponsortext">Lehetőséget biztosít arra, hogy a SMOG-1 mérőrendszerét többszöri alkalommal meteorológiai ballon segítségével közel 30 km magasságba juttassuk.</p>
        </figure>

        <figure>
            <img class="sponsorlogo" src="~/images/sponsor/Via-Pontis_Kft._little.jpg" width="207" height="100" alt="Via-Pontis Kft." title="Via-Pontis Kft.">
            <h2 class="sponsorname">Via-Pontis Kft.</h2>
            <p class="sponsortext">Szerszámokat és eszközöket vásárolt a SMOG-1 műhold fejlesztéséhez.</p>
        </figure>
    </article>
</section>