@model TeamViewModel
<section class="row teamSection">
    <div id="team" class="anchor"></div>
    <article class="team col-sm-push-1 col-sm-10 col-lg-push-2 col-lg-8">
        <header class="row">
            <figure>
                <img class="img-smog" src="~/images/smog_logo_white_csapat.png">
                <img class="img-dots" src="~/images/dots_csapat.png">
            </figure>
        </header>
        @{
            Html.RenderPartial("_TeamSubSystem", Model.Active);
        }
        <header class="row past-team-header">
            Korábbi csapattagok
        </header>
        @{
            Html.RenderPartial("_TeamSubSystem", Model.Passive);
        }
    </article>
</section>
