@model TeamViewModel
<section class="teamSection">
    <div id="team" class="anchor"></div>
    <header>
        <h1 hidden>Team section</h1>
    </header>
    <article class="clearfix team col-m-100 col-p-60">
        <header>
            <h2 hidden> Team Members</h2>
            <figure>
                <img style="width: 20%;" src="~/images/smog_logo_white_csapat.png">
                <img style="width: 73%; position: relative; left: 5%;" src="~/images/dots_csapat.png">
            </figure>
        </header>
        @{
            Html.RenderPartial("_TeamSubSystem", Model.Active);
        }
        <h2 class="past-team-header">
            Korábbi csapattagok
        </h2>
        @{
            Html.RenderPartial("_TeamSubSystem", Model.Passive);
        }
    </article>
</section>
