
@{
    ViewData["Title"] = "MŰSZAKI INFORMÁCIÓK";
}

<section class="technicalSection">
    <article class="technical col-m-100 col-p-60">
        <header>
            <h2>
                MŰSZAKI INFORMÁCIÓK<img class="commonArrow" src="~/images/arrow_news_right.png" />MŰHOLD<div class="previous ib"><a class="headerLink" href="@Url.Action("Index", "Home")#satelite">vissza</a></div>
            </h2>
        </header>
        <div class="button">
            <a class="popup" href="@Url.Action("SatelliteEngineering", "Home")">gépészeti technológia</a>
        </div>
        <div class="button">
            <a href="index.html">elsődleges energiaellátás</a>
        </div>
        <div class="button">
            <a href="index.html">energiaelosztó rendszer/EPS/</a>
        </div>
        <div class="button">
            <a href="index.html">fedélzeti számítógép /OBC/</a>
        </div>
        <div class="button">
            <a href="index.html">szenzorok</a>
        </div>
        <div class="button">
            <a href="index.html">hőtechnika</a>
        </div>
        <figure>
            <img src="~/images/dots_muhold.png" />
        </figure>
    </article>

</section>

