
@{
    ViewData["Title"] = "Műhold TID";
}
<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">TOTÁL IONIZÁLÓ DÓZISMÉRŐ</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>Totál ionizáló dózismérő</h3>
    </header>
        <p>
            
        </p>
        <p>
			
		</p>
		<p>
			
		</p>
		<p>
			
		</p>
		<p>
			
		</p>
		<p>
			
		</p>
</section>
