
@{
    ViewData["Title"] = "Műhold EPS1";
}
<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">ELSŐDLEGES ENERGIAELLÁTÁS</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>Elsődleges energiaellátás (EPS-1)</h3>
    </header>
        <p>
            Az elsődleges energiaellátó rendszer felelős a napelemek által megtermelt energia akkumulátorba töltésére minél jobb hatásfokkal, illetve a működési paraméterek mérése. Az alábbi ábra szemlélteti az alrendszer működését: a napelem csatlakozik a tápegység bemenetére, a kimenetre pedig az akkumulátor.
        </p>
        <img src="~/images/satellite/EPS1/napelem_akku.png">
        <p>
			A valóságban az áramkör ennél több elemet tartalmaz, mint az alább megfigyelhető. Ezen már látszik a mikrokontrollerrel megvalósított mérőrendszer, mely a tápegység be- és kimeneti feszültségeit és áramait méri, melyből kiszámítható a leadott teljesítmény és konverziós hatásfok. Ezen kívül a panel elhelyezkedéséből adódóan itt történik a fény mérése is, egy fotoszenzor segítségével.
		</p>
		<img src="~/images/satellite/EPS1/EPS1_panel.png">
		<p>
			Az áramkör, a műhold többi részével ellentétben, nem kétszeres tartalékolással lett tervezve, hanem  funkcionálisan hatszoros redundanciával, ugyanis a kocka mind a hat oldalán megtalálható.
		</p>
		<p>
			A NYÁK-on látható félkör alakú bevágások a kilövéskor feltekert antenna rögzítésére és érzékelésére szolgálnak. Az antenna nyitott vagy zárt állapota a fedélzeti számítógéppel közölt adatsorban megtalálható.
		</p>
		<p>

		</p>
		<p>

		</p>
</section>
