
@{
    ViewData["Title"] = "Műhold TID";
}
<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">TOTÁL IONIZÁLÓ DÓZISMÉRŐ</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>Totál ionizáló dózismérő</h3>
    </header>
        <p>
            SMOG-1 dozimétere (TID) a műhold második tudományos küldetése. A fedélzetén elhelyezett parányi mérőműszer segítségével jól követhető, hogy a műhold által megtett pálya során hol milyen mértékű sugárzás érte az elektronikus eszközöket, megvizsgálható a Van Allen övek többlet sugárterhelése, vagy akár a misszió során esetlegesen bekövetkező napkitörések hatása.
        </p>
        <img src="~/images/satellite/TID/hires_36652.jpg">
        <p>
			A világűrben a Föld felszínéhez képest közel két nagyságrenddel erősebb intenzitású ionizáló sugárzás van jelen, amely alapvetően a Nap által kibocsátott proton részecskékből és a galaktikus kozmikus sugárzásból tevődik össze. A sugárzás legnagyobb részét proton- és α (He2+) sugárzás teszi ki, de tartalmaz elektron-, gamma-, röntgen- és neutronsugárzást is. Ezen sugárzások ellen az élővilágot a földi atmoszféra és a bolygó mágneses tere védi, az űreszközök azonban a felszíntől távol jelentős sugárterhelésnek vannak kitéve.
		</p>
		<p>
			A sugárzás káros hatással van az elektronikus eszközök működésére, az ionizáció során az elektronok, protonok, az α, röntgen- és gamma-sugárzás elektron/lyuk párokat generálnak a szigetelő anyagokban, melynek hatása az idővel egyre növekszik (kumulatív). Ezt a hatást használják ki a teljes dózis mérésére az erre a célra kialakított RadFET (Radiation Field Effect Transistor) szenzorok.
		</p>
		<p>
			A műhold dozimétere egy egyedi tervezésű RadFET szenzorokkal ellátott műszer, amely rendkívül kis fogyasztással és mérettel rendelkezik. Jelenleg ez a világ legkisebb elektronikus dozimétere, az eszköz 12 x 12 mm felületet foglal el, átlagfogyasztása mindössze 1 mW. A mérési adatokat a TID digitális feldolgozás után a fedélzeti számítógépnek továbbítja.
		</p>
		<img src="~/images/satellite/TID/TID.jpg">
</section>
