
section.menuSection {
    margin: auto;
    margin-top: 10%;
    font-family: pantonBlack;
    text-align: center;
    font-size: 1rem;
}

    section.menuSection figure {
        margin: 1em 0;
    }

    section.menuSection .quote-caption {
        margin: 1em 0;
    }

.menu {
    position: relative;
    text-transform: capitalize;
}

    .menu .half {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        line-height: 300%;
    }

    .menu li.row {
        margin: 0;
    }

    .menu ol a:link, a:visited {
        display: block;
        text-decoration: none;
        font-size: 1.25rem;
        color: #2F2F2F;
        background-color: #FFFFFF;
        border: 3px double #282828;
        border-radius: 12px;
    }

    .menu ol a:hover {
        border: 3px solid #13DEC3;
        color: #13DEC3;
        border-radius: 12px;
    }

    .menu ol a:active {
        background-image: linear-gradient(-180deg, #00DBBE 0%, #04FFC0 100%);
        border: 3px solid #282828;
        border-radius: 12px;
        color: #000000;
    }

    .menu div a:first-child {
        display: block;
        text-decoration: none;
        font-size: 1.25rem;
        color: #2F2F2F;
        background-color: #FFFFFF;
        border: 3px double #282828;
        border-radius: 12px;
        line-height: 250%;
    }

        .menu div a:first-child:hover {
            border: 3px solid #13DEC3;
            color: #13DEC3;
            border-radius: 12px;
        }

    .menu .menu-image {
        margin-top: 2.6em;
    }
