.modal-content-zsebi {
    background-color: #F5F5F5;
    opacity: 0.9;
    border-radius: 10px;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
    padding: 5px;
}

    .modal-content-zsebi .modal-header {
        border-bottom: initial;
    }

        .modal-content-zsebi .modal-header .modal-title {
            margin-left: 30px;
        }

        .modal-content-zsebi .modal-header button {
            padding-top: 14px;
            padding-right: 15px;
            font-size: 2em;
        }

    .modal-content-zsebi .modal-body p {
        font-family: latoRegular;
        font-size: 1rem;
        color: #2f2f2f;
        line-height: 19px;
        text-align: justify;
    }

.modal-zsebi-inner {
    margin: 0;
    border: 5px solid #2F2F2F;
    border-radius: 10px;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
}