.zsebi-panel-wrapper {
    background-color: #F5F5F5;
    opacity: 0.9;
    border-radius: 10px;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
    padding: 5px;
}

.panel.panel-zsebi {
    margin: 0;
    border: 5px solid #2F2F2F;
    border-radius: 10px;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
}

.panel.panel-zsebi .panel-heading {
    padding-top: 3%;
    padding-left: 7%;
}

.panel.panel-zsebi .panel-title {
    font-family: pantonBlack;
    font-size: 1.25em;
    font-weight: 300;
    color: #2F2F2F;
    max-width: 80%;
}

.panel.panel-zsebi p {
    color: #2F2F2F;
}

.panel.panel-zsebi .panel-body {
    padding-bottom: 20px;
}

.panel.panel-zsebi .back {
    text-decoration: none;
    font-family: pantonBlack;
    font-size: 1.5625rem;
    font-weight: 300;
    color: #2F2F2F;
    padding: 0.1rem 0.5rem;
}
