
.panel.panel-zsebi {
    background-image: url(/images/bg_kapcsolat.png);
    background-size: 100% 100%;
    background-color: initial;
    border: 0 none;
}

.panel.panel-zsebi .panel-heading {
    padding-top: 3%;
    padding-left: 7%;
}

.panel.panel-zsebi .panel-title {
    font-family: pantonBlack;
    font-size: 1.25em;
    font-weight: 300;
    color: #2F2F2F;
    max-width: 80%;
}

.panel.panel-zsebi p {
    color: #2F2F2F;
}

.panel.panel-zsebi .panel-body {
    padding-bottom: 20px;
}

.panel.panel-zsebi .back {
    text-decoration: none;
    font-family: pantonBlack;
    font-size: 1.5625rem;
    font-weight: 300;
    color: #2F2F2F;
    padding: 0.1rem 0.5rem;
}
