.sponsorSection {
    background-color: #F5F5F5;
}

    .sponsorSection .sponsorname, .sponsorSection .sponsortext {
        display: none;
    }

    .sponsorSection figure img, .sponsorSection figure h2 {
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #D7D7D7;
        opacity: 0.6;
    }
