
.technical-info .button {
    background: none;
    border-radius: 40px;
    line-height: 47px;
    margin-bottom: 10px;
}

.technical-info .button a {
    padding-left: 10px;
}

.technical-info figure img {
    width: 100%;
}