/* FONTS */
@font-face {
    font-family: pantonBlack;
    src: url(fonts/panton-blackcaps.otf);
}

@font-face {
    font-family: pantonLight;
    src: url(fonts/panton-lightcaps.otf);
}

@font-face {
    font-family: latoRegular;
    src: url(fonts/lato-reg-hu.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(fonts/lato-bol-hu.ttf);
}

/* COMMON ATTRIBUTES */

* {
    box-sizing: border-box;
}

.ib {
    display: inline-block;
}

html {
    font-size: 12px;
}

body {
    background-image: url(../images/earth.png), url(../images/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-attachment: fixed, fixed;
    background-size: contain, 100% 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: latoRegular;
}

#fuck {
    font-size: 1rem;
}

.commonArrow {
    width: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

/* obsolete*/
.headerLink {
    text-decoration: none;
    font-family: pantonBlack;
    font-size: 1.5625rem;
    font-weight: 300;
    color: #2F2F2F;
    line-height: 2.5em;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.socialsLine {
    font-family: pantonBlack;
    font-size: 1rem;
    color: #00A076;
}

    .socialsLine img {
        margin-right: 1em;
        vertical-align: middle;
    }

h2 {
    /*pantonBlack font style is a bit blurry compared to the video ??? FIXED: font-weight: 300;*/
    font-family: pantonBlack;
    font-size: 1.5625em;
    font-weight: 300;
    color: #2F2F2F;
    line-height: 2.5em;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button a:first-child {
    border: 2px solid #282828;
    border-radius: 12px;
    line-height: 47px;
    text-decoration: none;
    text-align: center;
    font-family: pantonBlack;
    font-size: 0.875em;
    font-weight: 300;
    color: #2F2F2F;
    display: block;
    margin-bottom: 10px;
}

    .button a:first-child:hover {
        border: 2px solid #13DEC3;
        color: #13DEC3;
        border-radius: 12px;
    }

    .button a:first-child:active {
        color: #2F2F2F;
    }

.anchor {
    position: relative;
    top: -58px;
}

/* section {
	padding-top:30px
} */
/* ATTRIBUTES OF ELEMENTS DESCENDING LOCATION-WISE 
MOBILE FIRST, so mobile attributes first */
.navbar-zsebi {
    background-color: rgba(0,0,0,0.6);
    border-bottom-style: none;
}

    .navbar-zsebi .navbar-nav > li > a {
        font-family: pantonBlack;
        font-weight: 300;
        font-size: 1.8em;
        color: #FFFFFF;
        line-height: 1em;
    }

article.sponsor figure img {
    width: 80%;
    opacity: 0.6;
}

article.sponsor figure h2 {
    display: none
}

article.sponsor figure p {
    display: none
}

article.team figure p.teamtextemail {
    display: none
}

/* Problem about clickability and unwanted newlines */
figcaption {
    font-family: latoRegular;
    font-style: italic;
}

h3 {
    text-align: left;
    font-family: pantonBlack;
    font-size: 1.25rem;
    font-weight: 300;
    color: #2F2F2F;
    line-height: 20px;
}

header figure {
    margin: 0 0 30px 0;
    padding: 0;
}


section.thinSection {
    background: none;
    margin-top: 10%;
    padding-bottom: 35px;
}

article.thin {
    margin: auto;
    position: relative;
    background-image: url(../images/bg_muszaki_info.png);
    background-size: 100% 100%;
    padding-bottom: 2%;
    text-align: center;
}

.thin h2 {
    text-align: center;
    margin-bottom: 40px;
}

.thin .button {
    background: none;
    width: 70%;
    margin: 0 15% 10px 15%;
    line-height: 47px;
}

    .thin .button a {
        font-size: 1.25rem;
    }

.thin figure {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .thin figure img {
        width: 100%;
    }


/* POP-UP ELEMENTS, ACCORDION, ETC */
.previous {
    position: absolute;
    right: 10%;
}

    .previous img {
        vertical-align: middle;
    }

    .previous a {
        color: #2F2F2F;
    }

.bigNews {
    width: 90%;
    margin: auto;
}

    .bigNews figure {
        margin: 0;
        width: 100%;
    }

        .bigNews figure img {
            width: 100%;
        }

    .bigNews p {
        font-family: latoRegular;
        font-size: 1rem;
        color: #2F2F2F;
        line-height: 19px;
        text-align: justify;
    }

.ui-dialog {
    width: 80% !important;
}

.ui-dialog-titlebar-close {
    display: none !important;
}



div:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}

article.popup {
    margin: auto;
    background-image: url(/images/bg_kapcsolat.png);
    background-size: 100% 100%;
    padding-bottom: 2%;
}

.col-m-8 {
    width: 8.33%;
}

.col-m-12 {
    width: 12.5%
}

.col-m-16 {
    width: 16.66%;
}

.col-m-25 {
    width: 25%;
}

.col-m-33 {
    width: 33.33%;
}

.col-m-41 {
    width: 41.66%;
}

.col-m-50 {
    width: 50%;
}

.col-m-58 {
    width: 58.33%;
}

.col-m-66 {
    width: 66.66%;
}

.col-m-75 {
    width: 75%;
}

.col-m-83 {
    width: 83.33%;
}

.col-m-91 {
    width: 91.66%;
}

.col-m-100 {
    width: 100%;
}

.col-m-10 {
    width: 10%;
}

.col-m-20 {
    width: 20%;
}

.col-m-30 {
    width: 30%;
}

.col-m-40 {
    width: 40%;
}

.col-m-60 {
    width: 60%;
}

.col-m-70 {
    width: 70%;
}

.col-m-80 {
    width: 80%;
}

.col-m-90 {
    width: 90%;
}

/* Changes For tablets: */
@media only screen and (min-width: 600px) {
    .col-t-8 {
        width: 8.33%;
    }

    .col-t-12 {
        width: 12.5%
    }

    .col-t-16 {
        width: 16.66%;
    }

    .col-t-25 {
        width: 25%;
    }

    .col-t-33 {
        width: 33.33%;
    }

    .col-t-41 {
        width: 41.66%;
    }

    .col-t-50 {
        width: 50%;
    }

    .col-t-58 {
        width: 58.33%;
    }

    .col-t-66 {
        width: 66.66%;
    }

    .col-t-75 {
        width: 75%;
    }

    .col-t-83 {
        width: 83.33%;
    }

    .col-t-91 {
        width: 91.66%;
    }

    .col-t-100 {
        width: 100%;
    }

    .col-t-10 {
        width: 10%;
    }

    .col-t-20 {
        width: 20%;
    }

    .col-t-30 {
        width: 30%;
    }

    .col-t-40 {
        width: 40%;
    }

    .col-t-60 {
        width: 60%;
    }

    .col-t-70 {
        width: 70%;
    }

    .col-t-80 {
        width: 80%;
    }

    .col-t-90 {
        width: 90%;
    }
}

/* Changes For big screens */
@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .col-p-8 {
        width: 8.33%;
    }

    .col-p-12 {
        width: 12.5%
    }

    .col-p-13 {
        width: 13%
    }

    .col-p-16 {
        width: 16.66%;
    }

    .col-p-25 {
        width: 25%;
    }

    .col-p-33 {
        width: 33.33%;
    }

    .col-p-41 {
        width: 41.66%;
    }

    .col-p-50 {
        width: 50%;
    }

    .col-p-58 {
        width: 58.33%;
    }

    .col-p-66 {
        width: 66.66%;
    }

    .col-p-75 {
        width: 75%;
    }

    .col-p-83 {
        width: 83.33%;
    }

    .col-p-91 {
        width: 91.66%;
    }

    .col-p-100 {
        width: 100%;
    }

    .col-p-10 {
        width: 10%;
    }

    .col-p-20 {
        width: 20%;
    }

    .col-p-30 {
        width: 30%;
    }

    .col-p-40 {
        width: 40%;
    }

    .col-p-60 {
        width: 60%;
    }

    .col-p-70 {
        width: 70%;
    }

    .col-p-80 {
        width: 80%;
    }

    .col-p-90 {
        width: 90%;
    }

    .col-scr-em10 {
        width: 10em;
    }

    .col-scr-em20 {
        width: 20em;
    }

    .col-scr-em23 {
        width: 23em;
    }
}

.borderimg1 {
    border: 10px solid transparent;
    padding: 0px;
    border-radius: 25px 0px 25px 0px;
    -webkit-border-image: url(../images/article_image_container.png) 15; /* Safari 3.1-5 */
    -o-border-image: url(../images/article_image_container.png) 15; /* Opera 11-12.1 */
    border-image: url(../images/article_image_container.png) 15;
}

.full-page-content {
    margin-top: 65px;
}

.container-fluid.full {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 767px) {
    .container-fluid.full > .row {
        margin-left: 0;
        margin-right: 0;
    }

    .row.narrow {
        margin-left: 0;
        margin-right: 0;
    }
}
