
@{
    ViewData["Title"] = "Ballonos repülés";
}
<header class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Ballonos repülés</h2>
</header>
<section class="modal-body">
    <figure>
        <img src="~/images/article_image_container_expanded.png">
    </figure>
    <header>
        <h3>Ballonos repülés</h3>
    </header>
    <p>
		Előzetesen magaslégköri meteorológiai ballonos méréseket végeztünk a műhold elsődleges hasznos terhének, a spektrum monitorozó rendszernek működőképességének visszaigazolására, illetve annak bizonyítására, hogy az ember átlal keltett DVB-T sávú rádiófrekvenciás szennyezettség jelen van a magaslégkörben. A ballonos mérés esetén a ballon egy egyszerűsített mérőrendszert vitt magával, amely tartalmazott egy tápegységet (szárazelemről üzemelt), egy mikrovezérlőt, egy GPS-t a ballon pozíciójának meghatározására (szélesség, hosszúság, magasság, időbélyeg), egy kommunikációs rendszert, amely a digitális adatkapcsolatot biztosította a földi állomás és a ballon között, és egy spektrum monitorozó rendszert, amely a méréseket végezte.
    </p>
    <img src="~/images/testing/balloonflight/2abra.jpg">
    <p>
		Mivel a 430-860 MHz-es frekvenciájú rádiójelek esetében már nem érvényesül a földi ionoszféra többszörös törés miatti visszahajlító (refraktáló) hatása, így ezen jelek kijutnak a világűrbe, és ott főként az alacsony Föld körüli pályán keringő műholdak fedélzeti kommunikációs rendszereinek interferenciát okoznak.  Nem mellesleg, ha egyes TV adók antennáit úgy terveznénk, hogy minél kevesebbet sugározzon kifelé a világűrbe, akkor nagységrendileg feleakkora adóteljesítménnyel el lehetne látni az adó vételkörzetét minőségromlás nélkül, amely egy 100 kW-os TV adó esetében kb. 400 kW fogyasztott teljesítmény mellett feleakkorára csökkenthetné az adó „villanyszámláját”.
    </p>
    <img src="~/images/testing/balloonflight/3abra.jpg">
    <p>
		A ballonos mérés eredményét látva a következőket állapíthatjuk meg (Fenti ábra; a grafikonon a vízszintes tengely a frekvencia – maga a TV sáv, a függőleges tengely a ballon földfelszínhez képesti magassága, a szín pedig a vett jel szinje logaritmikus skálán): néhány 100 méter magasságban csupán a helyi TV adók egy-egy 8 MHz-es jele látszik jelentős teljesítménnyel – Széchenyi-hegy, Száva utca, Hármashatár-hegy. Amint a ballon magassága növekszik, a ballon kísérleti mérőrendszere által látott rádióhorizont kitágul, vagyis egyre messzebbre látunk, amely azt eredményezi, hogy a szomszédos országok TV adóinak a jele is láthatóvá válik – 1000 m felett gyakorlatilag megtelik adókkal a TV sáv. A földfelszíntől 34 km magasságban is igen nagyszintű jelek láthatók, valamint 770 MHz-en 7-8 km magasságban is rendkívűl nagy jelszintet mértünk, holott ebben a magasságban aligha akad TV néző (vagyis fűtjük a világűrt és zavarjuk a műholdjainkat).
    </p>
</section>
