<section class="container full-page-content">
    <div class="zsebi-panel-wrapper">
        <article class="panel panel-zsebi">
            <header class="clearfix panel-heading">
                <h3 class="pull-left panel-title">
                    Publikációk
                </h3>
                <a class="pull-right back" href="@Url.Action("Index", "Home")">VISSZA</a>
            </header>
            <div class="panel-body">
                <div class="socialsLine">
                    <a href="https://www.facebook.com/smog1official/"><img src="~/images/icon_facebook.png"></a>
                    <a href="https://twitter.com/Smog1_pq"><img src="~/images/icon_twitter.png"></a>
                </div>
                <div id="publikaciok">
					<h1 id="publikaciok">SMOG-1 publikációk</h1>
					<h2>Energiaellátó rendszer 1, Napelem, MPPT (EPS1)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/tibi_eps1/A-Smog1-PocketQube-elsodleges-energiaellato-Dolgozat-4.pdf">Herman Tibor: A SMOG-1 PocketQube elsődleges energiaellátó rendszere (diplomamunka 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/tibi_eps1/Smog-1_EPS.pdf">Herman Tibor: SMOG-1 elsődleges energiaellátó rendszere</a>
					</p>
					<h2>Energiaellátó rendszer 2 (EPS2)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gabor_eps2/termeszet_vilaga_smog1.pdf">Géczy Gábor: A SMOG-1, az új magyar zsebműhold (Természet Világa 2017. október)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gabor_eps2/A-Smog1-PocketQube-masodlagos-energiaellato-Dolgozat-5.pdf">Géczy Gábor: SMOG-1 Műhold Központi Energiaellátó Rendszer és Kísérleti Doziméter Tervezése (TDK dolgozat 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gabor_eps2/TDKdolgozat.docx">Géczy Gábor: A SMOG-1 PocketQube másodlagos energiaellátó rendszere (diplomamunka 2016)</a>
					</p>
					<h2>Kommunikációs rendszer és RF spektrum monitor rendszer (COM és SP)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/levi_com/PID3627859.pdf">Dudás Levente: The Spectrum Monitoring System of Smog-1 Satellite (MAREW 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/levi_com/smog1ea.pdf">Dudás Levente: The Spectrum Monitoring System of Smog-1 Satellite (MAREW 2015)</a>
					</p>
					<h2>Antenna (ANT)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/levi_ant/SMOG_1_antennanyitas.docx">Pápay Levente: SMOG-1 Antennanyitás</a>
					</p>
					<h2>Fedélzeti számítógép (OBC)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/timur_obc/timur-tdk-20151026_6.pdf">Kristóf Timur: A SMOG-1 PocketQube műhold redundáns fedélzeti számítógépének hardver és szoftver fejlesztése (TDK dolgozat 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/timur_obc/KristofTimur-onlab-201505084.pdf">Kristóf Timur: PocketQube műhold fedélzeti számítógépének tervezése (Önálló laboratórium beszámoló 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/timur_obc/onlab-2015-tavasz-ea.pdf">Kristóf Timur: PocketQube műhold fedélzeti számítógépének tervezése (Önálló laboratórium beszámoló dia sor 2015)</a>
					</p>
					<h2>Tesztelő rendszerek (GSE)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/levi_gse/GSE-berendezes-fejlesztese-a-Smog1-hallgatoi-Dolgozat-2.pdf">Pápay Levente: GSE berendezés fejlesztése a SMOG-1 hallgatói műhold kvalifikációs tesztjeinek támogatására (diplomamunka 2016)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/mate_teszter/Segedberendezes-keszitese-a-Smog1-hallgatoi-Dolgozat-2.pdf">Légrádi Máté: Segédberendezés készítése a Smog-1 hallgatói műhold környezeti tesztjeinek támogatására (diplomamunka 2016)</a>
					</p>
					<h2>Földi állomás (GND)</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/attila-lv/Szoftverradio-alapu-Smog1-elsodleges-foldi-Dolgozat-4.pdf">Várdai Attila: Szoftverrádió alapú Smog-1 elsődleges földi állomás vevő fejlesztése és optimalizálása (diplomamunka 2016)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gnd/Legradi_Mate/bmegnd_parabola45_legradi_mate_onlab2.pdf">Légrádi Máté: Körpolarizált primersugárzó tervezése parabola tükörbe (önálló labor 2015)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gnd/Legradi_Mate/UHF_savu_primersugarzo_parabola_reflektorhoz_Dolgozat_3.pdf">Légrádi Máté: UHF sávú primérsugárzó parabola reflektorhoz (szakdolgozat 2014)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gnd/Legradi_Mate/UHF.pdf">Légrádi Máté: UHF sávú primérsugárzó parabola reflektorhoz (dia sor 2014)</a>
					</p>
					<h2>Szimulációk</h2>
					<p>
						<a class="linkpublikacio" href="/smog1/articles/20161117_smog1_tdkk/Thermal_finite_element_modelling_of_the_SMOG1_nanosatellite.pdf">Petroczy Balázs: Thermal finite element modelling of the SMOG-1 nanosatellite (TDK dolgozat 2016)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/articles/20161117_smog1_tdkk/Welsz_Agnes_TDK.pdf">Welsz Ágnes: A SMOG-1 műhold hőáramhálózatos modellezése (TDK dolgozat 2016)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/tdk_2014/PocketQube_ciklusonkenti_napelemes_energiatermeles.pdf">Olaszi Bálint Dávid: A BME-1 „pocketqube” műhold ciklusonkénti napelemes energiatermelésének meghatározása (TDK dolgozat 2014)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/tdk_2014/PocketQube_muhold_numerikus_hotani_szimulacioja.pdf">Jáger Dávid és Török Péter: PocketQube műhold numerikus hőtani szimulációja (TDK dolgozat 2014)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/tdk_2014/PocketQube_muhold_vazszerkezetenek_fejlesztese_es_hotechnikai_elemzese.pdf">Katona Krisztina, Ötvös Vivien, Sipos Anna Ilona, Tomasics Sára: PocketQube műhold vázszerkezetének fejlesztése és hőtechnikai elemzése (TDK dolgozat 2014)</a>
					</p>
					<h1>Eredmények</h1>
					<h2>TDK díjazások</h2>
					<p>
						<br>
						<a class="linkpublikacio" href="/smog1/articles/20161117_smog1_tdkk/Petroczy_Balazs_TDK_oklevel.jpg">Petróczy Balázs, TDK 2016. Második díj</a>
						<br>
						<span id="publikaciok">
							Welsz Ágnes, TDK 2016. Külön díj
						</span>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gabor_eps2/gabor-tdk2015-oklevél.pdf">Géczy Gábor, TDK 2015. Első díj</a>
						<br>
						<span id="publikaciok">
							Kristóf Timur, TDK 2015. Jutalom
						</span>
						<br>
						<span id="publikaciok">
							Jáger Dávid, Török Péter, OTDK 2015. Második díj
						</span>
						<br>
						<span id="publikaciok">
							Jáger Dávid, Török Péter, TDK 2014. Második díj
						</span>
					</p>
					<h1>Média megjelenések</h1>
					<p>
						<a class="linkpublikacio" href="http://magyaridok.hu/lugas/kockazatok-2682919/">Ötvös Zoltán: Kockázatok  (Magyar idők, 2018.01.21.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/hazai_kutatohelyek_es_uripar/20180116_megujult_a_muegyetem_muholdvezerlo_allomasa">Gschwindt András (cikk): Megújult a Műegyetem műholdvezérlő állomása  (Űrvilág, 2018.01.16.)</a>
						<br>
						<a class="linkpublikacio" href="https://www.mediaklikk.hu/video/ma-este-2018-01-02-i-adas/">Dudás Levente (interjú 9:25 perctől): SMOG_1 Újabb magyar műhold állhat Föld körüli pállyára az idén  (M1, Ma este, mediaklikk.hu, 2018.01.02.)</a>
						<br>
						<a class="linkpublikacio" href="https://index.hu/tech/2018/01/02/keszul_a_masodik_magyar_muhold/">Dudás Levente (interjú): Készül a második magyar műhold (index.hu, 2018.01.02.)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/kutej2017/et2017-kutej.pdf">Géczy Gábor (interjú): Kutatók éjszakája az Urániában (Élet és Tudomány, 2017/41)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/gabor_eps2/termeszet_vilaga_smog1.pdf">Géczy Gábor: A SMOG-1, az új magyar zsebműhold (Természet Világa, 2017. október)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/DudasLevente_eletestudomany_smog1.pdf">Dudás Levente: Kocka az űrben, Zsebműhold  (Élet és Tudomány, 2017/27)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/kis_ureszkozok_nagy_szerepe/20170410_az_elso_nemzetkozi_pico_pq_konferencia_hollandiaban">Az első nemzetközi pico (PQ) konferencia Hollandiában (Űrvilág, 2017. április 10.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/velemenyek/20160923_esa_motivalta_mernokkepzes">ESA motiválta mérnökképzés (Űrvilág, 2016. szeptember 23.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/hazai_kutatohelyek_es_uripar/20160425_alairtak_a_smog1_startszerzodeset">Aláírták a SMOG-1 startszerződését (Űrvilág, 2016. április 25.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/velemenyek/20160320_magantoke_a_hazai_urtechnologia_oktatasaban">Magántőke a hazai űrtechnológia oktatásában (Űrvilág, 2016. március 20.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.urvilag.hu/kis_ureszkozok_nagy_szerepe/20160112_kockak_az_urben">Kockák az űrben – merre és hogyan tovább? (Űrvilág, 2016. január 12.)</a>
						<br>
						<a class="linkpublikacio" href="http://www.eletestudomany.hu/goodbye__masat-1_">Goodbye, MASAT-1! (Élet és Tudomány, 2015. február 23.)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/media/kis_muhold_cikk.pdf">Gschwindt András: Kis műholdak forradalma (Aeromagazin, 2014. december)</a>
						<br>
						<a class="linkpublikacio" href="/smog1/files/publikaciok/media/rt_276_279o14.pdf">Gschwindt András: Professzionális kisműholdak - rádióamatőröktől (Rádiótechnika, 2014. szeptember)</a>
						<br>
						<a class="linkpublikacio" href="http://www.albaorbital.com/meet-the-pocketqube-team-bme-1">Gschwindt András (interjú): Meet the PocketQube team: BME-1 (Albaorbital, 2014. július 28.)</a>
						<br>
					</p>
				</div>
            </div>
        </article>
    </div>
</section>
