
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - SMOG - 1</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        $(function () {
            $('a.popup').on('click', function (e) {
                e.preventDefault();
                var id = 'link-' + ($(this).index() + 1);
                $('<div/>', { 'class': 'myDlgClass', 'id': id, 'width': '30%' })
                    .load($(this).attr('href'), function () {
                        $('a.closeButton').on('click', function (e) {
                            e.preventDefault();
                            $(this).closest(".myDlgClass").dialog('close');
                        });
                    })
                    .appendTo('body')
                    .dialog()
                    .position({
                        my: "center top",
                        at: "center top",
                        of: window
                    });
            });
        });
    </script>
    @*<script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>*@
</head>

<body>
    <nav class="bar">
        <header hidden>
            <h2>Navigation bar</h2>
        </header>
        <ul>
            <li class="col-m-66 col-p-66" style="text-align: center; vertical-align: middle;">
                <img src="~/images/smog_logo_white_small.png">
            </li>
            <li class="col-m-33 col-p-33">
                <a id="menulink" href="/">menü</a>
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
